body,html{
    padding: 0;
    margin: 0;
}
header{
    width:100%;
    text-align: center;
    font-size: 2em;
    background: #2f3640;
    color:#fff;
    margin-bottom: 24px;
}
.add-button{
    background: #4cd137;
    color:white;
    border-radius: 5px;
}
.add-button:hover{
    background: #44bd32;
}

.mar15{
    margin: 15px;
}

.add-input{
    margin-bottom: 1em;
    font-size: 1.5em;
    padding: 5px;
    border:1px solid #999;
    border-radius: 3px;
}
.theader{
    font-weight: bold !important;
}
.substate{
    font-weight: bold;

}
.centr{
    display: flex;
    align-items: center;
    justify-content: center;
}
.mar5{
    margin: 5px;
}